@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", system-ui;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: white;
  background: black;
}
.title {
  font-size: 5rem;
  font-weight: 700;
  margin: 3rem 0;
  text-align: center;
}

.banner {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background: #980632;
  text-align: center;
  &:before {
    content: 'Beta app, may have breaking changes'
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  transition: 100ms;
  .logo {
    font-weight: 500;
    font-size: 1.5rem;
  }
  .links {
    display: flex;
    gap: 2rem;
    .link {
      position: relative;
      user-select: none;
      cursor: pointer;
      &:hover:before {
        width: 100%;
      }
      &:active:before {
        top: 100%;
      }
      &:before {
        content: "";
        position: absolute;
        top: calc(100% + 2px);
        width: 0%;
        height: 1.5px;
        background: white;
        transition: 100ms;
      }
    }
  }
}
.aura {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  filter: blur(60px);
  .circle1 {
    position: absolute;
    top: 8rem;
    left: 30%;
    height: 14rem;
    width: 14rem;
    background: #003282;
    border-radius: 50%;
    z-index: 3;
  }
  .circle2 {
    position: absolute;
    top: 8rem;
    left: 40%;
    height: 20rem;
    width: 20rem;
    background: #980632;
    border-radius: 50%;
    z-index: 2;
  }
}
.card {
  margin: 3rem;
  word-break: break-all;
}
:-webkit-scrollbar {
  background: black;
}

button.action.sign-in {
  font-family: inherit;
  font-size: 1rem;
  background-color: black;
  border: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  font-weight: 700;
  position: relative;
  box-shadow: 0 0 0 1px gray;
  transition: 0.3s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.58, 0.03, 1, 1);
  display: inline-block;
  span {
    display: block;
    position: relative;
    z-index: 10;
    mix-blend-mode: difference;
  }
  &:hover {
    box-shadow: 0 0 0 10px white;
  }
  &:hover span {
    animation: MoveScaleUpInitial 0.3s forwards,
      MoveScaleUpEnd 0.3s forwards 0.3s;
  }
  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &:before {
    content: "";
    background: white;
    width: 120%;
    height: 0;
    padding-bottom: 120%;
    top: -110%;
    left: -10%;
    border-radius: 50%;
    transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
  }
  &:hover:before {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  }
  &:after {
    content: "";
    background: white;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  }
  &:hover:after {
    transform: translate3d(0, 0, 0);
    transition-duration: 0.05s;
    transition-delay: 0.4s;
    transition-timing-function: linear;
  }
}
@keyframes MoveScaleUpInitial {
  to {
    transform: translate3d(0, -105%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
}

@keyframes MoveScaleUpEnd {
  from {
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

button.action.sign-out {
  font-family: inherit;
  font-size: 1rem;
  background-color: white;
  border: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  transition: 0.25s linear;
  user-select: none;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  box-shadow: inset 0 0 0 0px black, 0 0 0 1px white;
  &:hover {
    border-radius: 50%;
    box-shadow: inset 0 0 0 40px black, 0 0 0 1px white;
  }

  span {
    mix-blend-mode: difference;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    .logo {
      font-size: 1rem;
    }
    .links {
      font-size: 0.75rem;
    }
  }
}
